*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#navbar{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    
}

#unorderlist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
}

h2{
    color: blue;
    margin-top: 20px;
}